body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.row-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 20px;
}

.title{
    font-weight: bolder;
    color: blueviolet;
    margin: 20px;
}

.card-title{
    font-weight: bolder;
    color: blueviolet;
}

.subtitle{
    font-weight: 500;
    margin: 20px;
}
#imagem{
    width: 300px;
    height: 300px;
}

.col-6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.col-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.jumbotron{
 background-color: rgb(219, 194, 243);
}
.navbar-toggler{
    color: aliceblue;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar{
    width: 100%;
}
.nav-link{
    font-size: 24px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon{
    list-style: none;
    margin: 10px;
    color: blueviolet;
}

.icon:hover{
    color: #ea7164;
}

#section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    margin: 30px;
}

#section-card{
    margin-top: 30px;
}

span{
    color: blueviolet;
}

.btn{
    color: #fff;
    background-color: #ea7164;
}

.card{
    margin: 20px;
}
.card-link{
    color: #fff;
}
.card-link:hover{
    color: #cdcdcd;
}

.col-sm-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fab{
    color: blueviolet;
}

.fab:hover{
    color: #ea7164;
}
.fa-brands{
    color: blueviolet;
}
.fa-brands:hover{
    color: #ea7164;
}
#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-sm-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}